<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="awesome-box col-xs-6 col-xs-offset-3 text-center">
	<%= simple_form_for @quote do |f| %>
 	 <%= f.input :saying %>
  	 <%= f.input :author %>
  	 <%= f.button :submit %> <%= link_to 'Home', root_path, :class => 'btn btn-success' %>
	<% end %>
</div>